/* Use Ctrl+F to find '30rem' and Ctrl+D to select all occurrences, then update them to your preferred screen width. */

/* HTML */
<div class="screen_shell">  
  <body> 
  </body>
</div>


/* CSS */
html {height:100svh; margin: 0 auto; max-width:30rem; width:100%;}
body {margin: 0; min-height: 100svh; width: 100%;}
@media (min-width: 30rem) {
    .screen_shell {display: flex; max-width: 30rem;}
}
